:root {
    --primary: #232525;
    --seondary: #333433;
    --text: #c66a00 ;
    --white: #dedede;
}

body {
    margin: 0px;
    background: var(--primary);
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
    margin-bottom: 15px;
}

li {
    float: right;
}

.navButton { 
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary);
    border-width: 0px;
}

.about {
    display: none;
}

.contact {
    display: none;
    float: left;
    width: 100%;
}

.projects {
    display: none;
    float: left;
    width: 100%;
}

input[type="text"] {
    font-size: 15px;
    margin-bottom: 25px;
    width: 600px;
    height: 50px;
    padding: 10px;
}

input[type="button"] {
    font-size: 15px;
    margin-bottom: 25px;
    width: 600px;
    height: 50px;
    padding: 10px;
}

.contactForm {
    padding-left: 5%;
    padding-right: 2%;
    width: 43%;
    float:left
}

.contactLinks {
    padding-left: 2%;
    padding-right: 5%;
    width: 43%;
    float:left;
    text-align: right;
}

.FormData {
    background-color: var(--primary);
    color: var(--white);
    border-width: 0px;
}

.FormData:hover {
    background-color: var(--seondary);
}

.FormData:focus {
    background-color: var(--seondary);
}

