:root {
    --primary: #161717;
    --secondary: #333433;
    --heading: #33e784 ;
    --headingHover: #06b254;
    --text: #dedede;
}

body {
    margin: 0px;
    background: var(--primary);
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
    margin-bottom: 15px;
}

li {
    float: right;
    background-color: #111111;
}

.navButton {
    color: var(--heading);
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    background-color: #111111;
    border-width: 0px;
    cursor: pointer;
}

.navButton:hover {
    color: var(--headingHover);
    background-color: var(--primary);
}

.about {
    display: none;
}

.contact {
    display: none;
    float: left;
    width: 100%;
}

.projects {
    display: none;
    float: left;
    width: 100%;
    padding-left: 5%;
}

H1 {
    color: var(--heading);
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

H2 {
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
}

P {
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

input[type="text"] {
    font-size: 15px;
    margin-bottom: 25px;
    height: 50px;
    padding: 10px;
    font-family: Cambria;
    font-size: 20px;
}

input[type="email"] {
    font-size: 20px;
    margin-bottom: 25px;
    height: 50px;
    padding: 10px;
    font-family: Cambria;
}

textarea {
    font-size: 20px;
    margin-bottom: 25px;
    width: 600px;
    padding: 10px;
    resize: vertical;
    height: 300px;
    font-family: Cambria;
}

.submitButton {
    font-size: 20px;
    margin-bottom: 25px;
    width: 91%;
    height: 50px;
    padding: 10px;
    background-color: var(--heading);
    color: var(--primary);
    border-width: 0px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--headingHover)
}

.SocialButton {
    font-size: 20px;
    margin-bottom: 25px;
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: var(--heading);
    color: var(--primary);
    border-width: 0px;
    cursor: pointer;
}

.SocialButton:hover {
    background-color: var(--headingHover)
}

.contactForm {
    padding-left: 5%;
    padding-right: 1%;
    width: 44%;
    float:left;
}

.contactLinks {
    padding-left: 1%;
    padding-right: 5%;
    width: 44%;
    float:left;
    text-align: left;
}

.FormData {
    background-color: var(--secondary);
    color: var(--text);
    border-width: 0px;
    width: 91%
}

.projectTile {
    border-width: 5px;
    background-color: var(--secondary);
    width: 300px;
    height: 700px;
    border:1px solid var(--text);
    float: left;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.projectTIle:hover {
    transform: translate3d(0px, -40px, 0px);
}

.projectThumbnail {
    width: 300px;
    height: 200px;
}

.projectTools {
    padding: 10px;
}

.projectTool {
    background-color: var(--heading);
    width:fit-content;
    display: inline-flex;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 5px;
    height:auto;
    color: var(--primary)
}

.projectGallery {
    float: left;
    display: inline-flex;
}

.homeTitle {
    padding-left: 5%;
    display: inline;
    float: left;
    width: 50%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tagcloud {
    text-align: center;
    width: auto;
    margin: 0px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 21px;
    color: var(--heading);
    cursor:default;
    font-family: 'Courier New', Courier, monospace;
  }

  .tagcloud--item:hover {
    color: var(--headingHover)
}

.experiences {
    text-align: center;
    float: left;
    display: inline;
    padding-top: 50px;
    width: 20%;
    padding-left: 10%;
}

.Portrait {
    float: left;
    margin: 5px;
    padding-right: 1%;
    border-radius: 50%;
}

.descriptors {
    color: var(--heading);
    font-size: 25px;
    height:50px;
    margin-top: 0px;
    padding-top:0px;
    font-family: 'Courier New', Courier, monospace;
}