:root {
    --primary: #232525;
    --seondary: #333433;
    --heading: #c66a00 ;
    --text: #dedede;
}

body {
    margin: 0px;
    background: var(--primary);
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
    margin-bottom: 15px;
}

li {
    float: right;
}

.navButton { 
    color: var(--heading);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary);
    border-width: 0px;
}

.about {
    display: none;
}

.contact {
    display: none;
    float: left;
    width: 100%;
}

.projects {
    display: none;
    float: left;
    width: 100%;
    padding-left: 5%;
}

H1 {
    color: var(--heading);
}

H2 {
    color: var(--text)
}

P {
    color: var(--text)
}

input[type="text"] {
    font-size: 15px;
    margin-bottom: 25px;
    width: 600px;
    height: 50px;
    padding: 10px;
}

input[type="button"] {
    font-size: 15px;
    margin-bottom: 25px;
    width: 600px;
    height: 50px;
    padding: 10px;
}

.contactForm {
    padding-left: 5%;
    padding-right: 2%;
    width: 43%;
    float:left
}

.contactLinks {
    padding-left: 2%;
    padding-right: 5%;
    width: 43%;
    float:left;
    text-align: right;
}

.FormData {
    background-color: var(--primary);
    color: var(--text);
    border-width: 0px;
}

.submitButton {
    background-color: var(--heading);
    color: var(--primary);
    border-width: 0px;
}

.FormData:hover {
    background-color: var(--seondary);
}

.FormData:focus {
    background-color: var(--seondary);
}

.projectTile {
    border-width: 5px;
    background-color: #333433;
    width: 300px;
    height: 500px;
    border:1px solid var(--text);
    float: left;
}

.projectThumbnail {
    width: 300px;
    height: 200px;
}

.projectTools {
    padding-top: 25px;
    padding-left: 10px;
}

.projectTool {
    background-color: var(--heading);
    width:fit-content;
    display: inline-flex;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 5px;
    height:auto;
}

.projectGallery {
    float: left;
    display: inline-flex;
}

.homeTitle {
    padding-left: 5%;
}

.titleName {
    font-size: 60px;
    font-weight: bold;
    color: var(--heading);
    margin-top: 0px;
    margin-bottom:0px;
}